@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);





body {
  font-family: 'Lato', Tahoma, Verdana, sans-serif;
  color: #F6F6F6;
  background-image: url("bg.jpg");
  background-size: 1920px 1080px;
}

#center {
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(10, 20, 40, 0.7);
  width: 30%;
  padding: 50px;
  border-radius: 12px;
  margin: auto;
  margin-top: 5vw;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #F6F6F6;
}

a:hover {
  color: rgb(126, 201, 224);
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5.0rem;
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 3vw;
}

.date {
  font-weight: lighter;
  font-size: 1.5rem;
  font-family: 'Lato', Tahoma, Verdana, sans-serif;
}

.weather {
  transition: margin-left 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2vw;
  padding-top: 4vw;
}

.smallText {
  font-size: 1.5rem;
  font-weight: lighter;
}